# Presentaci贸n
Fecha: 30/01/26

Hola, Soy Facundo L贸pez!

Este es mi notebook de prueba y practica de PANDAS, conociendo python y algunas librer铆as de alto uso.

# Contacto
Correo: facuilopez07@gmail.com


LinkedIn: www.linkedin.com/in/facundo-ignacio-lopez

# CARGA DE DATOS CON PANDAS

In [22]:
import pandas as pd

def cargar_dataset():
    set1 = pd.read_csv("https://raw.githubusercontent.com/faacu12/DataScience/refs/heads/main/marketing_campaign(1).csv",sep=";")
    return set1
df = cargar_dataset()
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

A continuaci贸n, estuve practicando consultas basicas... al mismo tiempo que lo combin茅 con filtrado de datos, mediante selecci贸n de columnas

In [23]:
from IPython.display import display


print("A continuaci贸n, se mostrar谩n los clientes con ingresos mayores a 50 000 d贸lares!")
consulta_mayor_a50 = df[df["Income"] > 80000][["ID","Income"]]
display(consulta_mayor_a50)
print("Eso fue una consulta num茅rica o de valores concretos/continuos... mejor practicar tambi茅n consultas de caracter铆sticas o de texto")
consulta_clientes_casados = df[df["Marital_Status"] == "Married"][["ID","Marital_Status","Kidhome","Teenhome"]]
display(consulta_clientes_casados)

A continuaci贸n, se mostrar谩n los clientes con ingresos mayores a 50 000 d贸lares!

         ID    Income
15     2114   82800.0
29     1966   84618.0
40     8601   80011.0
53     2225   82582.0
55     6260   82384.0
...     ...       ...
2193   8722   82347.0
2211  10469   88325.0
2213   3661   80617.0
2217   9589   82032.0
2233   9432  666666.0

[217 rows x 2 columns]

Eso fue una consulta num茅rica o de valores concretos/continuos... mejor practicar tambi茅n consultas de caracter铆sticas o de texto

         ID Marital_Status  Kidhome  Teenhome
4      5324        Married        1         0
7      6177        Married        1         0
10     1994        Married        1         0
11      387        Married        0         0
14     2569        Married        0         0
...     ...            ...      ...       ...
2226   4478        Married        1         1
2229  10084        Married        2         0
2234   8372        Married        1         0
2235  10870        Married        0         1
2239   9405        Married        1         1

[864 rows x 4 columns]